/* .homeBtn {
    display: block;
    cursor: pointer;
    background-color: #dbe0e6;
    border: 1px solid #dbe0e6;
    padding: 1rem 4rem;
    margin: 0 auto;
}

.homeBtn:hover {
    background-color: #cfcb3e;
} */