.arrow {
    position: absolute;
    top: 45%;
    left: 30%;
    translateY: -50%;
    margin: -60px 0 0 -60px;
    width: 0;
    height: 0;
    /* Triangle Borders */
    border-top: 5em solid transparent;
    border-bottom: 5em solid transparent;
    border-right: 5em solid yellow;
}

.hide {
    display: none;
}

