.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    translateY: -50%;
    margin: -60px 0 0 -60px;
    width: 0;
    height: 0;
    /* Triangle Borders */
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    border-left: 8vw solid yellow;
    animation: spin 1s linear infinite;
}

.rightSide {
    transform: rotateY(0deg) translateX(25vw);
    animation: transform ease-in-out 1s;

}

.leftSide {
    transform: rotateY(180deg) translateX(22vw);
    animation: transform ease-in-out 1s;
}

@keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.hide {
    display: none;
}

@media only screen and (min-width: 1500px) {
    .rightSide {
        transform: rotateY(0deg) translateX(22vw);
    }
    .leftSide {
        transform: rotateY(180deg) translateX(25vw);
    }
}

@media only screen and (max-width: 900px) {
    .rightSide {
        transform: rotateY(0deg) translateX(28vw);
    }
    .leftSide {
        transform: rotateY(180deg) translateX(19vw);
    }
}

@media only screen and (max-width: 690px) {
    .rightSide {
        transform: rotateY(0deg) translateX(32vw);
    }
    .leftSide {
        transform: rotateY(180deg) translateX(14vw);
    }
}
