body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root {
    display: flex;
    height: 100vh;
    background-image: url(../../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.root h1 {
    font-size: 4rem;
    margin: 20vh auto 1vh;
}